@importar  "mi-nav.css" ;
@importar  "mi-footer.css" ;
@import  "listas.css" ;

: root {
  familia de fuentes : sans-serif;
  --col-active :  # 4646462c ;
  - encabezado de color : blanco;
  --colorMiNav : blanco;
}

cuerpo {
  ancho máximo :  640 px ;
  margen :  0 automático;
  acolchado :  0.5 rem ;
}

encabezado {
  posición : -webkit-sticky;
  posición : pegajosa;
  arriba :  0 ;
  color de fondo :
    var ( --color-encabezado );
}

. herramientas {
  pantalla : flex;
  flujo flexible : envoltura;
  alinear-elementos : centro;
  alinear-contenido : flex-end;
  justificar-contenido : flex-end;
  margen superior :  0,5 rem ;
  fondo acolchado :  0,5 rem ;
  espacio :  0,5 rem ;
}

 entrada de encabezado {
  flex-grow :  1 ;
}

h1 {
  margen :  0,5 rem  0 ;
}

figura  img {
  ancho máximo :  100 % ;
}

leyenda ,
p  label {
  pantalla : bloque;
  font-weight : negrita;
  tamaño de fuente :  0,7 rem ;
}

p  etiqueta > * {
  pantalla : bloque;
  font-weight : normal;
  tamaño de fuente :  1 rem ;
  de caja de tamaño : frontera-box;
  ancho :  100 % ;
}
